.nav-container {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.nav-container.colorChange {
  background: black;
}

.nav-heading {
  color: white;
  font-weight: 700px !important;
}

.content-container {
  color: white;
  font-weight: 700px !important;
}

.nav-logo {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 5px;
  margin-left: 10px;
}

.margin-padding {
  margin-left: 10px;
}

.active-link {
  font-weight: bold;
  color: #ff9f00 !important;
}

@media (max-width: 768px) {
  .r4p-logo {
    height: 55px;
    width: 55px;
    border-radius: 40px;
  }

  .margin-padding {
    padding-top: 20px;
  }
}
