.banner-sections-bg-container {
  height: 80vh !important;
  background-size: cover;
  position: relative;
}

.banner-h1 {
  font-family: "Poor Story", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  color: white;
  text-align: center;
}

.banner-heading-home {
  font-family: "Poor Story", cursive;
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-align: center;
}
.banner-caption-home {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 22px;
  color: white;
  text-align: center;
}
